/* Convenção de nomenclatura : Componente.module.css*/

/*Convenção no CSS Modules: Não usar traço*/
.titulo_section {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: orange;
  font-size: 48px;
  text-align: center;
}

.texto-section {
  font-family: "Courier New", Courier, monospace;
  color: purple;
  font-size: 24px;
  text-align: center;
}
